[Unit]
Description=Set the default Gaokun display orientation for GDM
After=local-fs.target systemd-sysusers.service
Before=display-manager.service
ConditionPathExists=/usr/local/share/gaokun/monitors.xml

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gdm-monitor-sync
RemainAfterExit=yes
TimeoutStartSec=10

[Install]
WantedBy=graphical.target
